extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  div.banner-bg
    div.wrap
        div.banner
            img(src='http://www.cqupt.edu.cn/cqupt/dynamic/banner1/bekzaulm.gif')
  div.body
    div.wrap
        div.body-l
            div.title 
                a(href="#") 调剂信息
                a(href="").more more
            div.content
                ul
                    li 
                        a(href="#") 刘西川老师的《戏剧与表演》目前还未招满，感兴趣的同学赶紧报名呀!
                    li 
                        a(href="#") 刘西川老师的《戏剧与表演》目前还未招满，感兴趣的同学赶紧报名呀!
                    li 
                        a(href="#") 刘西川老师的《戏剧与表演》目前还未招满，感兴趣的同学赶紧报名呀!
                    li 
                        a(href="#") 刘西川老师的《戏剧与表演》目前还未招满，感兴趣的同学赶紧报名呀!
        div.body-r
            div.title 
                   a(href="#") 新闻动态
                   a(href="").more more
            div.content
                ul
                    li 
                        a(href="#") 刘西川老师的《戏剧与表演》目前还未招满，感兴趣的同学赶紧报名呀!
                    li 
                        a(href="#") 刘西川老师的《戏剧与表演》目前还未招满，感兴趣的同学赶紧报名呀!
                    li 
                        a(href="#") 刘西川老师的《戏剧与表演》目前还未招满，感兴趣的同学赶紧报名呀!
                    li 
                        a(href="#") 刘西川老师的《戏剧与表演》目前还未招满，感兴趣的同学赶紧报名呀!
  div.body
    div.wrap
        div.body-l
            div.title 
                a(href="#") 助学导师介绍
                a(href="").more more
            div.content
                span.personIntr
                    span.photo 
                        img(src="http://xwzx.cqupt.edu.cn//xwzx/upload/201603/20160304020728181_s.jpg")
                    span.mark-name  刘西川
                span.personIntr
                    span.photo 
                        img(src="http://xwzx.cqupt.edu.cn//xwzx/upload/201603/20160304020728181_s.jpg")
                    span.mark-name  刘西川
                span.personIntr
                    span.photo 
                        img(src="http://xwzx.cqupt.edu.cn//xwzx/upload/201603/20160304020728181_s.jpg")
                    span.mark-name  刘西川
        div.body-r
            div.title 
                   a(href="#") 助研导师介绍

                   a(href="").more more
            div.content
               span.personIntr
                   span.photo 
                       img(src="http://xwzx.cqupt.edu.cn//xwzx/upload/201603/20160304020728181_s.jpg")
                   span.mark-name  刘西川
               span.personIntr
                   span.photo 
                       img(src="http://xwzx.cqupt.edu.cn//xwzx/upload/201603/20160304020728181_s.jpg")
                   span.mark-name  刘西川
               span.personIntr
                   span.photo 
                       img(src="http://xwzx.cqupt.edu.cn//xwzx/upload/201603/20160304020728181_s.jpg")
                   span.mark-name  刘西川
    div.wrap
        div.body-l
            div.title 
                a(href="#") 助教导师介绍
                a(href="").more more
            div.content
                span.personIntr
                    span.photo 
                        img(src="http://xwzx.cqupt.edu.cn//xwzx/upload/201603/20160304020728181_s.jpg")
                    span.mark-name  刘西川
                span.personIntr
                    span.photo 
                        img(src="http://xwzx.cqupt.edu.cn//xwzx/upload/201603/20160304020728181_s.jpg")
                    span.mark-name  刘西川
                span.personIntr
                    span.photo 
                        img(src="http://xwzx.cqupt.edu.cn//xwzx/upload/201603/20160304020728181_s.jpg")
                    span.mark-name  刘西川

       